<div class="offcanvas-sidebar d-xl-none d-lg-none d-xl-none">
      <div id="gva-offcanvas-inner" class="gva-offcanvas-inner">
         {% if page.offcanvas %}
            {{ page.offcanvas }}
         {% endif %}
      </div>
   </div>   