.gsc-icon-box{
   position: relative;
   @include transition(all 0.35s);
   &.icon-image{
   &.left{
     padding-right: 30px;
     @include media-breakpoint-down(md){
       padding-right: 0;
     }
   }
   .fa-1x{
     display: block;
     width: 24px;
   }
   .fa-2x{
     display: block;
     width: 32px;
   }
   .fa-3x{
     display: block;
     width: 64px;
   }
   .fa-4x{
     display: block;
     width: 96px;
   }
   &.top-center{
     .fa-3x{
       .icon{
         img{
           margin-top: 20px;
         }
       }
     }
     .fa-4x{
       .icon{
         img{
           margin-top: 25px;
         }
       }
     }
   }
 }
 .highlight_content{
   margin-top: 5px;
   .title{
      font-size: 18px;
      color: $black-2;
      margin-bottom: 3px;
      font-weight: 600;
      font-family: $font-second;
      text-transform: capitalize;
      line-height: 26px;
   }
   .desc{
     p{
       margin-bottom: 0;
     }
   }
 }
  .highlight-icon{
    .icon-container{
      text-align: center;
      line-height: 1;
      position: relative;
      color: $black-2;
      .icon{
        position: relative;
        z-index: 11;
      }
      &.icon-shadow{
        @include box-shadow(2px 4px 8px rgba(0, 0, 0, 0.16));
      }
      &.fa-stack{
        line-height: 2.26em!important;
        @include size(2.2em, 2.2em);
      }
      &.text-theme{
        &[class*="border-"]{
          border-color: rgba(0, 0, 0, 0.1);
        }
      }
      &.text-white{
        &[class*="border-"]{
          border-color: rgba(255, 255, 255, 0.2);
        }
      }
      &.text-black{
        color: $headings-color;
        &[class*="border-"]{
          border-color: rgba(0, 0, 0, 0.1);
        }
      }
      &.radius-1x{
        &:after{
          @include border-radius(3px);
        }
      }
      &.radius-2x{
        &:after{
          @include border-radius(5px);
        }
      }
      &.radius-5x{
        &:after{
          @include border-radius(50%);
        }
      }
    }
  }
  &.icon-background{
    .highlight-icon{
     .icon-container{
        @include transition(all 0.5s); 
        &:after{
          top: 0px;
          left: 0px;
          z-index: 1;
          position: absolute;
          width: 100%;
          height: 100%;
          content: '';
          @include scale(1);
          @include opacity(1);
          @include transition(all 0.5s); 
        }
        &.bg-black{
          &:after{
            background: #222222;
          }
        }
        &.bg-theme{
          &:after{
            background: $theme-color;
          }
        }
      }
    }
    &.icon-border{
      .highlight-icon{
        .icon-container{
          &.bg-black{
            border-color: #222222;
          }
          &.bg-theme{
            border-color: $theme-color;
          }
        }
      }
    }
  }
  &.icon-border:not(.icon-background){
    .highlight-icon{
      .icon-container{
        color: $theme-color;
      }
    }
  }
  &.top-center{ //Top center
    text-align: center;
    max-width: 550px;
    margin-right: auto;
    margin-left: auto;
    .highlight-icon{
      text-align: center;
      padding-right: 0!important;
      .icon-container{
        display: inline-block;
        &.fa-1x{
          font-size: 1.4em;
        }
      }
    }
    .title{
      position: relative;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .highlight_content{
      text-align: center;
      max-width: 300px;
      margin: 0 auto; 
      .desc{
        text-align: center;
        font-weight: 400;
        text-transform: normal;
      }
    }
  }  

  &.top-left{
    text-align: left;
    max-width: 300px;
    clear: both;
    .title{
      padding: 5px 0;
    }
  }
  &.top-right{
    text-align: right;
    max-width: 300px;
    clear: both;
    float: right;
    .title{
      padding: 5px 0;
    }
    .highlight-icon{
      width: 100%;
      text-align: right;
      .icon-container{
        display: inline-block;
      }
    }
  }
 
  &.top-left-title, &.top-right-title{
    .title-inner{
      display: table;
      margin-bottom: 15px;
      .highlight-icon{
        display: table-cell;
        vertical-align: top;
      }
      .title{
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
  &.top-left-title{
    .highlight-icon{
      padding-right: 15px;
    }
  }
  &.top-right-title{
    text-align: right;
    @include clearfix();
    .title-inner{
      float: right;
    }
    .highlight-icon{
      padding-left: 15px;
    }
    .desc{
      float: right;
      width: 100%;
    } 
  }
  &.right, &.left{
    display: table;
    max-width: 600px;
    .highlight-icon{
      display: table-cell;
      vertical-align: top;
      padding-top: 10px;
    }
    .highlight_content{
      display: table-cell;
      vertical-align: top;
    }
    &.icon-background{
      .highlight-icon{
        padding-top: 0;
      }
    }
  }
 &.right{
   text-align: right;
   .highlight-icon{
     padding-left: 18px;
   }
 }
 &.left{
   text-align: left;
   .highlight-icon{
     padding-right: 18px;
   }
 }
  @include media-breakpoint-down(md){
    &.responsive-1{
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      float: none;
      display: block;
      .highlight-icon{
        text-align: center;
        display: block;
        margin-bottom: 15px;
        padding: 0;
      }
      .highlight_content{
        display: block;
      }
    }
  }
 &.text-light{
   .title{
     color: $white;
     &:after{
       background: $white;
     }
     a{
       color: $white;
       &:hover{
         color: $theme-color;
       }
     }
   }
   .highlight-icon{
      .icon-container{
        color: $white;
      }
   }
   .desc{
     color: rgba(255, 255, 255, 0.8);
   }
  }
  &.box-background{
    width: 100%;
    @include transition(all 0.35s);
    @include border-radius(6px);
    border: 1px solid $border-color;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 0;
      z-index: 1;
      height: 50px;
      border-radius: 50%;
      @include box-shadow(0 10px 14px 0 rgba(0, 0, 0, 0.08));
      @include transition(all 0.3s ease);
    }
    &.active, &:hover, &:focus, &:active{
      @include box-shadow(0px 0px 10px 3px rgba(0, 0, 0, 0.1));
    }
    .icon-box-content{
      padding: 30px 25px;
      position: relative;
      z-index: 9;
      @include media-breakpoint-down(md){
        padding: 20px;
      }
    }
  }
  &.border-s1{
    .icon-container{
      &:after{
        display: none!important;
      }
    }
    .icon-inner{
      padding: 6px;
      border: 2px solid $border-color;
      display: inline-block;
      .fa-stack{
        line-height: 2.3em!important;
        width: 2.2em;
        height: 2.2em;
      }
      .fa-2x{
        font-size: 1.6em;
      }
      .fa-1x{
        font-size: 1.2em;
        .fa-stack{
          line-height: 2.3em!important;
          width: 2.2em;
          height: 2.2em;
        }
      }
    }
    &:hover{
      .icon-container .icon{
        color: inherit!important;
      }
    }
  }
  .i-border-theme{
    border-color: $theme_color!important;
  }
  .i-border-black{
    border-color: $color-black!important; 
  }
  .i-border-dark{
    border-color: $dark!important;
  }
  .i-border-white{
    border-color: $white!important; 
  }
}

.gsc-icon-box{
  &.icon-border:not(.icon-background){
    .highlight-icon{
      .icon-container{
        color: $theme-color;
        &:after{
          @include opacity(0);
          top: 0px;
          left: 0px;
          z-index: 1;
          position: absolute;
          width: 100%;
          height: 100%;
          content: '';
          @include scale(1.4);
          @include opacity(0);
          @include transition(all 0.5s);
        }
        &.color-dark{
          &:after{
            background: $theme_color;
          }
        }
        &.color-theme{
          &:after{
            background: $theme_color;
          }
        }
        &.color-white{
          &:after{
            background: $white;
          }
        }
        &.color-black{
          &:after{
            background: $black;
          }
        }
      }
    }
    &:hover{
      .highlight-icon{
        .icon{
          color: $white;
        }
        .icon-container{
          &:after{
            @include scale(1.021);
            @include opacity(1);
          }
          &.color-dark{
            border-color: $theme_color!important;
          }
          &.color-white{
            .icon{
              color: #222;
            }
          }
        }
      }
    }
  }
}

