.gva-job-box{
  padding: 30px;
  border: 1px solid $border-color;
  background: $white;
  margin-bottom: 30px;
  display: table; 
  width: 100%;
  .logo-inner{
    width: 60px;
    text-align: center;
    display: table-cell;
  }
  .content-inner{
    display: table-cell;
    padding-left: 20px;
    .job-type{
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 700;
      font-family: $font-second;
      display: inline-block;
      color: $theme-color;
    }
    .box-title{
      margin-bottom: 10px;
      .title{
         font-size: 16px;
         font-weight: 700;
         font-family: $font-second;
         color: $headings-color;
         text-transform: capitalize;
      }
    }
    .information{
      ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
          position: relative;
          font-size: 14px;
          i{
            color: $theme-color;   
            width: 20px;
            text-align: left;
            font-size: 14px;
          }
        }
      }
    }
  }
}