.gsc-our-partners{
  @include clearfix();
  margin-bottom: 45px;
  .image{
    width: 35%;
    float: left;
    @media(max-width: 400px){
      width: 100%;
      text-align: center;
    }
  }
  .content-inner{
    width: 65%;
    float: left;
    padding-left: 30px;
    @media(max-width: 400px){
      width: 100%;
    }
    .title{
      font-size: 18px;
      color: $black;
      font-weight: 600;
      font-family: $font-second;
    }
    .info{
      font-size: 14px;
      padding: 5px 0 12px;
      font-family: $font-second;
      .category{
        color: $theme_color;
      }
    }
  }
}