@font-face {
  font-family: "Flaticon";
  src: url("../fonts/icon/Flaticon.eot");
  src: url("../fonts/icon/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/icon/Flaticon.woff") format("woff"), url("../fonts/icon/Flaticon.ttf") format("truetype"), url("../fonts/icon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/icon/Flaticon.svg#Flaticon") format("svg"); } }

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.flaticon-001-schedule:before {
  content: "\f100"; }

.flaticon-002-sharpener:before {
  content: "\f101"; }

.flaticon-003-sports:before {
  content: "\f102"; }

.flaticon-004-test-tube:before {
  content: "\f103"; }

.flaticon-005-university:before {
  content: "\f104"; }

.flaticon-006-professor:before {
  content: "\f105"; }

.flaticon-007-mortarboard:before {
  content: "\f106"; }

.flaticon-008-world:before {
  content: "\f107"; }

.flaticon-009-desk:before {
  content: "\f108"; }

.flaticon-010-computer:before {
  content: "\f109"; }

.flaticon-011-compass:before {
  content: "\f10a"; }

.flaticon-012-crayon:before {
  content: "\f10b"; }

.flaticon-013-swing:before {
  content: "\f10c"; }

.flaticon-014-student:before {
  content: "\f10d"; }

.flaticon-015-microscope:before {
  content: "\f10e"; }

.flaticon-016-atom-1:before {
  content: "\f10f"; }

.flaticon-017-flask:before {
  content: "\f110"; }

.flaticon-018-check-mark:before {
  content: "\f111"; }

.flaticon-019-diploma:before {
  content: "\f112"; }

.flaticon-020-school-bus:before {
  content: "\f113"; }

.flaticon-021-school:before {
  content: "\f114"; }

.flaticon-022-palette:before {
  content: "\f115"; }

.flaticon-023-book:before {
  content: "\f116"; }

.flaticon-024-notebook:before {
  content: "\f117"; }

.flaticon-025-lightbulb:before {
  content: "\f118"; }

.flaticon-026-blackboard:before {
  content: "\f119"; }

.flaticon-027-bag:before {
  content: "\f11a"; }

.flaticon-028-briefcase:before {
  content: "\f11b"; }

.flaticon-029-dna:before {
  content: "\f11c"; }

.flaticon-030-medal:before {
  content: "\f11d"; }

.flaticon-031-atom:before {
  content: "\f11e"; }

.flaticon-032-pencil:before {
  content: "\f11f"; }

.flaticon-033-ruler:before {
  content: "\f120"; }

.flaticon-034-alarm-clock:before {
  content: "\f121"; }

.flaticon-035-books:before {
  content: "\f122"; }

.flaticon-036-abacus:before {
  content: "\f123"; }
