/****/
@media (min-width: 768px) and (min-width: 992px) {
  .navigation .gva_menu .sub-menu li:hover > ul {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
}

.checkout-pane-payment-information {
  margin-bottom: 20px;
}

.checkout-pane-payment-information .field--name-address {
  width: 100%;
  float: left;
}

.customer-information .field__label {
  font-weight: 600;
  color: #222;
  margin-top: 15px;
}

.order-information {
  margin-bottom: 45px;
}

.order-information .field__label, .order-information .views-field-title {
  font-weight: 600;
  color: #222;
}

.order-information table {
  margin-top: 30px;
}

.order-information table thead th {
  font-weight: 600;
  color: #222;
}

.checkout-pane-payment-information {
  margin-bottom: 20px;
}

.checkout-pane-payment-information .field--name-address {
  width: 100%;
  float: left;
}

.path-user .order-information {
  float: left;
  width: 100%;
}

.path-user .order-information > .field {
  float: left;
  margin-right: 20px;
  width: 30%;
}

@media (max-width: 300px) {
  .path-user .order-information > .field {
    width: 100%;
  }
}

.path-user .order-information > .field .field__label {
  font-weight: 600;
  color: #222;
}

.path-user .order-information > .field.field--name-order-items, .path-user .order-information > .field.field--name-total-price {
  width: 100%;
  margin-top: 20px;
  margin-right: 0;
}

.form-item-payment-information-add-payment-method-billing-information-copy-to-address-book {
  width: 100%;
  float: left;
}

.alert {
  border-radius: 0 !important;
}

.alert.alert-dark {
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
