$theme_color: 		#8EC44D;
$image-theme-path-base: '../../../images/';
$base-theme-image-path:'../../../images/';
$theme-font-path: '../../../fonts/';
$icon-font-path: '../../../fonts/';

$link-hover-color:      #8EC44D;
$brand-primary:    #8EC44D;