html{
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
}

a{
  &:hover, &:focus, &:active{
    @include transition(all 0.35s);
    outline: none!important;
    color: $theme_color;
    text-decoration: none;
  } 
}
input, select, textarea{
  &:hover, &:focus, &:active{
    outline: none!important;
  }
}
// images, video
//---------------------------------
img{
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

.video-responsive {
   height        : 0;
   padding-top   : 0;
   padding-bottom: 56.25%;
   position      : relative;
   overflow      : hidden;
   embed,iframe,object,video{
      top     : 0;
      left    : 0;
      width   : 100%;
      height  : 100%;
      position: absolute;
   }
}

.body-page, .gva-body-page{
  input[type="text"], 
  input[type="tel"],
  input[type="password"],
  input[type="email"],
  textarea, select{
    background-color: #fff;
    //@include box-shadow(0 0 2px 2px rgba(0, 0, 0, 0.02) inset);
    border: 1px solid $border-color;
    padding: 5px 10px;
    &:focus, &:active, &:hover{
      outline: none;
    }
  }
}
.nav-tabs, .topbar ul , ul.contact-info, ul.menu, nav{
  list-style: none!important;
  padding-left: 0;
}

.label{
  color: #000!important;
}

.list-menu ul li{
  list-style: none;
  padding: 15px 2px;
  font-size: $font-size-base;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
   &:last-child{
      border-bottom: none;
    }
}

ul {
  margin: 0;
  padding-left: 30px;
  ul{
    padding-left: 20px;
  }
  li{
    list-style: inherit;
    i{
      margin-right: 3px;
      font-size: 16px;
      min-width: 20px;
      text-align: center;
    }
  } 
}
.item-list{
  ul li{
    margin-left: 0;
  }
}

ul.menu{
  > li{
    position: relative;
    padding: 2px 0;
    font-weight: 400;
  }
}

ul.feature-list{
  margin: 10px 0;
  padding-left: 0;
  > li{
    padding-left: 30px;
    position: relative;
    list-style: none;
    margin-bottom: 2px;
    &:after{
      content: "\f00c";
      font-family: "FontAwesome";
      position: absolute;
      top: 2px;
      left: 2px;
      z-index: 1;
      color: $theme_color;
    }
  }
}

ul.inline{
  > li{
    float: left;
    margin-left: 5px;
  }
}


table {
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid $table-border-color;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border-color: $table-border-color;
        border-width: 1px 1px 1px 0;
        border-style: solid;
      }
    } 
  }
  > thead > tr {
    > th,
    > td {
      border-bottom-width: 2px;
    }
  }
}

.no-padding{
  padding: 0!important;
}

a.disable{
  pointer-events: none;
  cursor: default;
}


/************************* Pagination ************************/
.pager ul.pager__items{
  display: inline-block;
  margin: 0 0 30px;
  padding: 0;
  > li{
    list-style-type: none;
    float: left;
    margin-right: 10px;
    a {
      border: 1px solid $border-color;
      font-weight: 600;
      display: inline-block;
      line-height: 34px;
      margin: 0 1px;
      text-align: center;
      margin-right: 10px;
      padding: 0 15px;
      @include border-radius(4px);
      font-family: $font-second;
      text-transform: capitalize;
      &:last-child{
        margin-right: 0;
      }
      &:hover{
        background: $theme_color;
        color: $white;
        border-color: $theme_color;
      }
    }
    &.pager__item--next{
      font-size: 12px;
    }
    &.pager__item--last{
      font-size: 12px;
    }
    &.is-active{
      a{
        background: $theme_color;
        color: $white;
        border-color: $theme_color;
      }
    }
  }
}

.breadcrumb-content-inner{
  margin-bottom: 30px; 
  text-align: left;
  background: #f8f8f8;
  .gva-breadcrumb-content{
    .page-title{
      font-size: 28px;
      width: 100%;
      float: left;
      margin-top: 5px;
      margin-bottom: 2px;
      text-align: left;
      font-weight: 700;
    }
    .breadcrumb-links{
      margin: 0 auto;
    }
    .breadcrumb-content-main{
     
    }
    .gva-block-breadcrumb{
      .breadcrumb-style{ 
        padding: 68px 0;
        margin-bottom: 35px;
        position: relative;
        @include media-breakpoint-down(md){
          padding: 48px 0;
        }
      }  
      &.text-white, &.text-light{
        *, .page-title{
          color: $white;
        } 
        .breadcrumb-links li{
          color: rgba(255, 255, 255, 0.8);
          a{
            color: rgba(255, 255, 255, 0.8);
            &:hover{
              color: $white;
            }
          }
        }
      }
    } 

    .breadcrumb-links{
      nav.breadcrumb{
        display: inline-block;
        li{
          font-size: 14px;
          font-weight: 400;
          color: #5f5f5f;
          text-transform: capitalize;
          a{
            color: $text_color;
            &:hover{
              color: $theme_color;
            }
          }
        }
      }
    }  
  }
}  

pre{
  @include border-radius(0!important);
  margin: 30px 0;
}

.text-light{
  h1, h2, h3, h4, h5, h6{
    color: $white;
  }
}
h4, h5{
  line-height: 1.4;
}

.gav-help-region{ 
  position: relative;
  z-index: 1;
  width: 100%;
  .messages__wrapper{
    padding: 10px;
    border: 1px solid #759FCC;
    margin: 0 auto;
    max-width: 1170px;
    margin-bottom: 15px;
    a{
      color: $theme_color;
    }
  }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}